* {
  margin: 0;
  padding: 0;
}

html,body,#root,.content {
  width: 100%;
  height: 100%;
}

.content {
  box-sizing: border-box;
  background: #EEEEEE;
}

.content-main {
  height:80%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.content-main-login {
  height:400;
  width:500;
  background-color:white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px rgb(221, 229, 236);
}

.content-main-login-select {
  width: 400px;
  margin:50px 0px 0px 0px;
}

.content-main-login-label {
  display:flex;
  justify-content: center;
  align-items: center;
}

.content-main-login-input {
  width: 400px;
  margin:30px 0px 0px 0px;
}

.content-main-login-button {
  width:500px;
  height:150px;
  display:flex;
  justify-content: center;
  align-items: center;
}